<!DOCTYPE html>
<html>
<head>
<title> Table Tags & Internal CSS </title>
<style>
    h1{
        background-color:rgb(191, 255, 0);
        padding:50px;
        font-size:60px;
        margin-right:100px;
        margin-left:200px;
        font-style:italic;
        color:red

    }
</style>
</head>
<body>
    <h1 align="center"><u>Table Tags & Internal CSS </u></h1>
     <p style="background-color:rgb(0, 255, 17);padding:10px;font-size:60px;margin-right:230px;margin-left:230px">This is a inline css file formet</p>
    <table align="center" border="3" bordercol="black" bgcolor="yellow" >
        <tr>
            <th>FirstName</th>
            <th>Subject</th>
            <th>Marks</th>
        </tr>
        <tr>
            <td>kiran</td>
            <td>social</td>
            <td>45</td>
        </tr>
        <tr>
            <td>Ravi</td>
            <td>science</td>
            <td>85</td>
        </tr>
        <tr>
            <td>chinna</td>
            <td>English</td>
            <td>66</td>
        </tr>

    </table>

</body>
</html>