<!DOCTYPE html>
<html>
<head>
<title>Table Page</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        <tr>
            <th>Aditya</th>
            <th>Royyuru</th>
            <th>27</th>
        </tr>
        <tr>
            <th>Kiran</th>
            <th>monganti</th>
            <th>36</th>
        </tr>
        <tr>
            <th>Ravi</th>
            <th>monganti</th>
            <th>36</th>
        </tr>
    </table>


</body>
</html>


